@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/subset-SourceSansPro-LightItalic.woff2') format('woff2'),
      url('../fonts/subset-SourceSansPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/subset-SourceSansPro-Italic.woff2') format('woff2'),
      url('../fonts/subset-SourceSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/subset-SourceSansPro-Regular.woff2') format('woff2'),
      url('../fonts/subset-SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/subset-SourceSansPro-SemiBold.woff2') format('woff2'),
      url('../fonts/subset-SourceSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/subset-SourceSansPro-Light.woff2') format('woff2'),
      url('../fonts/subset-SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/subset-SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/subset-SourceSansPro-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/') format('woff2'),
      url('../fonts/subset-RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

